<h4>All your recommendations are below</h4>
<%= link_to "Add a beer", new_beer_path %>

<table id="beers" class="display" <%= "data-no-turbolink" %> data-source="<%= beers_url(format: "json") %>">
  <thead>
<tr>
      <th>Beer Name</th>
      <th>Rating</th>
      <th>Country</th>
      <th>State or Province</th>
      <th>Votes</th>
      <th>Click to Comment</th>
      <th> Up/downvote </th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
